<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.DmsBacteriaStrainMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.DmsBacteriaStrain">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="species_id" jdbcType="INTEGER" property="speciesId" />
    <result column="strain_international_no" jdbcType="VARCHAR" property="strainInternationalNo" />
    <result column="strain_inside_no" jdbcType="VARCHAR" property="strainInsideNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, species_id, strain_international_no, strain_inside_no
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.DmsBacteriaStrainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dms_bacteria_strain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dms_bacteria_strain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dms_bacteria_strain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.DmsBacteriaStrainExample">
    delete from dms_bacteria_strain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.DmsBacteriaStrain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_bacteria_strain (species_id, strain_international_no, 
      strain_inside_no)
    values (#{speciesId,jdbcType=INTEGER}, #{strainInternationalNo,jdbcType=VARCHAR}, 
      #{strainInsideNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.DmsBacteriaStrain">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_bacteria_strain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="speciesId != null">
        species_id,
      </if>
      <if test="strainInternationalNo != null">
        strain_international_no,
      </if>
      <if test="strainInsideNo != null">
        strain_inside_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="speciesId != null">
        #{speciesId,jdbcType=INTEGER},
      </if>
      <if test="strainInternationalNo != null">
        #{strainInternationalNo,jdbcType=VARCHAR},
      </if>
      <if test="strainInsideNo != null">
        #{strainInsideNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.DmsBacteriaStrainExample" resultType="java.lang.Long">
    select count(*) from dms_bacteria_strain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dms_bacteria_strain
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.speciesId != null">
        species_id = #{record.speciesId,jdbcType=INTEGER},
      </if>
      <if test="record.strainInternationalNo != null">
        strain_international_no = #{record.strainInternationalNo,jdbcType=VARCHAR},
      </if>
      <if test="record.strainInsideNo != null">
        strain_inside_no = #{record.strainInsideNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dms_bacteria_strain
    set id = #{record.id,jdbcType=INTEGER},
      species_id = #{record.speciesId,jdbcType=INTEGER},
      strain_international_no = #{record.strainInternationalNo,jdbcType=VARCHAR},
      strain_inside_no = #{record.strainInsideNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.DmsBacteriaStrain">
    update dms_bacteria_strain
    <set>
      <if test="speciesId != null">
        species_id = #{speciesId,jdbcType=INTEGER},
      </if>
      <if test="strainInternationalNo != null">
        strain_international_no = #{strainInternationalNo,jdbcType=VARCHAR},
      </if>
      <if test="strainInsideNo != null">
        strain_inside_no = #{strainInsideNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.DmsBacteriaStrain">
    update dms_bacteria_strain
    set species_id = #{speciesId,jdbcType=INTEGER},
      strain_international_no = #{strainInternationalNo,jdbcType=VARCHAR},
      strain_inside_no = #{strainInsideNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>