<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.DmsBacteriaProductsRelationMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.DmsBacteriaProductsRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="research_type" jdbcType="INTEGER" property="researchType" />
    <result column="products_id" jdbcType="VARCHAR" property="productsId" />
    <result column="affect_products_id" jdbcType="VARCHAR" property="affectProductsId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, research_type, products_id, affect_products_id
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.DmsBacteriaProductsRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dms_bacteria_products_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dms_bacteria_products_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dms_bacteria_products_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.DmsBacteriaProductsRelationExample">
    delete from dms_bacteria_products_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.DmsBacteriaProductsRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_bacteria_products_relation (research_type, products_id, affect_products_id
      )
    values (#{researchType,jdbcType=INTEGER}, #{productsId,jdbcType=VARCHAR}, #{affectProductsId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.DmsBacteriaProductsRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_bacteria_products_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="researchType != null">
        research_type,
      </if>
      <if test="productsId != null">
        products_id,
      </if>
      <if test="affectProductsId != null">
        affect_products_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="researchType != null">
        #{researchType,jdbcType=INTEGER},
      </if>
      <if test="productsId != null">
        #{productsId,jdbcType=VARCHAR},
      </if>
      <if test="affectProductsId != null">
        #{affectProductsId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.DmsBacteriaProductsRelationExample" resultType="java.lang.Long">
    select count(*) from dms_bacteria_products_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dms_bacteria_products_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.researchType != null">
        research_type = #{record.researchType,jdbcType=INTEGER},
      </if>
      <if test="record.productsId != null">
        products_id = #{record.productsId,jdbcType=VARCHAR},
      </if>
      <if test="record.affectProductsId != null">
        affect_products_id = #{record.affectProductsId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dms_bacteria_products_relation
    set id = #{record.id,jdbcType=INTEGER},
      research_type = #{record.researchType,jdbcType=INTEGER},
      products_id = #{record.productsId,jdbcType=VARCHAR},
      affect_products_id = #{record.affectProductsId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.DmsBacteriaProductsRelation">
    update dms_bacteria_products_relation
    <set>
      <if test="researchType != null">
        research_type = #{researchType,jdbcType=INTEGER},
      </if>
      <if test="productsId != null">
        products_id = #{productsId,jdbcType=VARCHAR},
      </if>
      <if test="affectProductsId != null">
        affect_products_id = #{affectProductsId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.DmsBacteriaProductsRelation">
    update dms_bacteria_products_relation
    set research_type = #{researchType,jdbcType=INTEGER},
      products_id = #{productsId,jdbcType=VARCHAR},
      affect_products_id = #{affectProductsId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>