<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.DmsDiseaseResultMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.DmsDiseaseResult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="probiotics_id" jdbcType="INTEGER" property="probioticsId" />
    <result column="probiotics_type" jdbcType="INTEGER" property="probioticsType" />
    <result column="resource_type" jdbcType="INTEGER" property="resourceType" />
    <result column="content_weight" jdbcType="REAL" property="contentWeight" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="disease_id_json" jdbcType="VARCHAR" property="diseaseIdJson" />
    <result column="complication_id_json" jdbcType="VARCHAR" property="complicationIdJson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="literature_id_json" jdbcType="VARCHAR" property="literatureIdJson" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, probiotics_id, probiotics_type, resource_type, content_weight, quantity, disease_id_json, 
    complication_id_json, create_time, update_time, create_name, literature_id_json, 
    remarks
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.DmsDiseaseResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dms_disease_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dms_disease_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dms_disease_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.DmsDiseaseResultExample">
    delete from dms_disease_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.DmsDiseaseResult">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_disease_result (probiotics_id, probiotics_type, resource_type, 
      content_weight, quantity, disease_id_json, 
      complication_id_json, create_time, update_time, 
      create_name, literature_id_json, remarks
      )
    values (#{probioticsId,jdbcType=INTEGER}, #{probioticsType,jdbcType=INTEGER}, #{resourceType,jdbcType=INTEGER}, 
      #{contentWeight,jdbcType=REAL}, #{quantity,jdbcType=INTEGER}, #{diseaseIdJson,jdbcType=VARCHAR}, 
      #{complicationIdJson,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createName,jdbcType=VARCHAR}, #{literatureIdJson,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.DmsDiseaseResult">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_disease_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="probioticsId != null">
        probiotics_id,
      </if>
      <if test="probioticsType != null">
        probiotics_type,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
      <if test="contentWeight != null">
        content_weight,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="diseaseIdJson != null">
        disease_id_json,
      </if>
      <if test="complicationIdJson != null">
        complication_id_json,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="literatureIdJson != null">
        literature_id_json,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="probioticsId != null">
        #{probioticsId,jdbcType=INTEGER},
      </if>
      <if test="probioticsType != null">
        #{probioticsType,jdbcType=INTEGER},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="contentWeight != null">
        #{contentWeight,jdbcType=REAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="diseaseIdJson != null">
        #{diseaseIdJson,jdbcType=VARCHAR},
      </if>
      <if test="complicationIdJson != null">
        #{complicationIdJson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="literatureIdJson != null">
        #{literatureIdJson,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.DmsDiseaseResultExample" resultType="java.lang.Long">
    select count(*) from dms_disease_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dms_disease_result
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.probioticsId != null">
        probiotics_id = #{record.probioticsId,jdbcType=INTEGER},
      </if>
      <if test="record.probioticsType != null">
        probiotics_type = #{record.probioticsType,jdbcType=INTEGER},
      </if>
      <if test="record.resourceType != null">
        resource_type = #{record.resourceType,jdbcType=INTEGER},
      </if>
      <if test="record.contentWeight != null">
        content_weight = #{record.contentWeight,jdbcType=REAL},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.diseaseIdJson != null">
        disease_id_json = #{record.diseaseIdJson,jdbcType=VARCHAR},
      </if>
      <if test="record.complicationIdJson != null">
        complication_id_json = #{record.complicationIdJson,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createName != null">
        create_name = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.literatureIdJson != null">
        literature_id_json = #{record.literatureIdJson,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dms_disease_result
    set id = #{record.id,jdbcType=INTEGER},
      probiotics_id = #{record.probioticsId,jdbcType=INTEGER},
      probiotics_type = #{record.probioticsType,jdbcType=INTEGER},
      resource_type = #{record.resourceType,jdbcType=INTEGER},
      content_weight = #{record.contentWeight,jdbcType=REAL},
      quantity = #{record.quantity,jdbcType=INTEGER},
      disease_id_json = #{record.diseaseIdJson,jdbcType=VARCHAR},
      complication_id_json = #{record.complicationIdJson,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_name = #{record.createName,jdbcType=VARCHAR},
      literature_id_json = #{record.literatureIdJson,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.DmsDiseaseResult">
    update dms_disease_result
    <set>
      <if test="probioticsId != null">
        probiotics_id = #{probioticsId,jdbcType=INTEGER},
      </if>
      <if test="probioticsType != null">
        probiotics_type = #{probioticsType,jdbcType=INTEGER},
      </if>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="contentWeight != null">
        content_weight = #{contentWeight,jdbcType=REAL},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="diseaseIdJson != null">
        disease_id_json = #{diseaseIdJson,jdbcType=VARCHAR},
      </if>
      <if test="complicationIdJson != null">
        complication_id_json = #{complicationIdJson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="literatureIdJson != null">
        literature_id_json = #{literatureIdJson,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.DmsDiseaseResult">
    update dms_disease_result
    set probiotics_id = #{probioticsId,jdbcType=INTEGER},
      probiotics_type = #{probioticsType,jdbcType=INTEGER},
      resource_type = #{resourceType,jdbcType=INTEGER},
      content_weight = #{contentWeight,jdbcType=REAL},
      quantity = #{quantity,jdbcType=INTEGER},
      disease_id_json = #{diseaseIdJson,jdbcType=VARCHAR},
      complication_id_json = #{complicationIdJson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_name = #{createName,jdbcType=VARCHAR},
      literature_id_json = #{literatureIdJson,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>