<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.DmsDiseaseComplicationMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.DmsDiseaseComplication">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="complication_type" jdbcType="INTEGER" property="complicationType" />
    <result column="complication_name" jdbcType="VARCHAR" property="complicationName" />
    <result column="complication_name_zh" jdbcType="VARCHAR" property="complicationNameZh" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, complication_type, complication_name, complication_name_zh
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.DmsDiseaseComplicationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dms_disease_complication
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dms_disease_complication
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dms_disease_complication
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.DmsDiseaseComplicationExample">
    delete from dms_disease_complication
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.DmsDiseaseComplication">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_disease_complication (complication_type, complication_name, 
      complication_name_zh)
    values (#{complicationType,jdbcType=INTEGER}, #{complicationName,jdbcType=VARCHAR}, 
      #{complicationNameZh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.DmsDiseaseComplication">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dms_disease_complication
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="complicationType != null">
        complication_type,
      </if>
      <if test="complicationName != null">
        complication_name,
      </if>
      <if test="complicationNameZh != null">
        complication_name_zh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="complicationType != null">
        #{complicationType,jdbcType=INTEGER},
      </if>
      <if test="complicationName != null">
        #{complicationName,jdbcType=VARCHAR},
      </if>
      <if test="complicationNameZh != null">
        #{complicationNameZh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.DmsDiseaseComplicationExample" resultType="java.lang.Long">
    select count(*) from dms_disease_complication
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dms_disease_complication
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.complicationType != null">
        complication_type = #{record.complicationType,jdbcType=INTEGER},
      </if>
      <if test="record.complicationName != null">
        complication_name = #{record.complicationName,jdbcType=VARCHAR},
      </if>
      <if test="record.complicationNameZh != null">
        complication_name_zh = #{record.complicationNameZh,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dms_disease_complication
    set id = #{record.id,jdbcType=INTEGER},
      complication_type = #{record.complicationType,jdbcType=INTEGER},
      complication_name = #{record.complicationName,jdbcType=VARCHAR},
      complication_name_zh = #{record.complicationNameZh,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.DmsDiseaseComplication">
    update dms_disease_complication
    <set>
      <if test="complicationType != null">
        complication_type = #{complicationType,jdbcType=INTEGER},
      </if>
      <if test="complicationName != null">
        complication_name = #{complicationName,jdbcType=VARCHAR},
      </if>
      <if test="complicationNameZh != null">
        complication_name_zh = #{complicationNameZh,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.DmsDiseaseComplication">
    update dms_disease_complication
    set complication_type = #{complicationType,jdbcType=INTEGER},
      complication_name = #{complicationName,jdbcType=VARCHAR},
      complication_name_zh = #{complicationNameZh,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>